@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Rubik&display=swap");
html {
  font-size: 16px;
}
body{
  background-color: #edf2f6;
}
/****General Rules*/
$navColor: #63a4d9;
$headFont: 3.5rem;
$whiteColor: #fff;
$mainColor: #edf2f6;
#bread{
  background-color: #F3F8FA;
  
}
h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem !important;
}
.breadcrumb{
  padding: 0;
  font-weight: 400;
  font-size: 1.08rem;
  background-color: transparent !important;
}
.top-header{
    background: none;
    padding-top: 2rem;
    h2 {
      font-size: 3rem;
      font-weight: 500;
      transform: scaleY(1.1);
      color: #445b69;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
    #out {
      margin-right: auto;
      margin-left: auto;
      line-height: 1;
      width: 20%;
      height: 2px;
      background-color: #d9dfe3;
      padding-bottom: 3px;
    }

    #in {
      margin: inherit;
      background-color: $navColor;
      height: 4px;
      width: 30%;
    }
    p {
      font-size: 1rem;
      text-align: center !important;
      margin-top: 10px;
      color: #233a47;
      margin-bottom: 10px;
      margin-top: 15px;
      line-height: 1.5;
    }
}
.breadcrumb li a{
color: $navColor;
}
.breadcrumb li a:hover{opacity: 0.6;text-decoration: none;}
.mt-6 {
  margin-top: 3.8rem;
}
.mt-8 {
  margin-top: 5.5rem;
}
$paragraphFont: "Rubik", sans-serif;
@mixin bordered($width, $color) {
  border: $width solid $color;
}
@mixin paragraphText {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #476986;
}
@mixin sectionSpace {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 3rem 0;
}

@keyframes animate1 {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animate2 {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.scrolled {
  background-color: rgba(13, 39, 53, 0.7) !important;
  transition: background-color 200ms linear;
}
/*Start Of Navbar Styling*/
#navbar {
  z-index: 1000;
  display: flex;
  width: 100%;
  top: 0;
  button {
    background: none;
    outline: none;
    border: none;
  }
  a,
  #dropContent a,
  button {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1;
    margin-top: 0.9rem;
    padding: 0.5rem 0.7rem;
    font-weight: 300;
  }
  span i {
    margin-right: auto;
  }
  #btn {
    font-size: 1.5rem;
    color: $whiteColor;
    line-height: 1.5;
    margin-top: 0.4rem;
  }
  #logo {
    color: #fff;
    font-family: "Playfair Display", serif;
    align-self: flex-start;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 3px;
    font-weight: 500;
  }
  #dropContent,
  #dropContentDeep {
    display: none;
    padding: 8px 10px;
    border-radius: 8px;
    margin: 0 8px;
    margin-top: 0.5rem;
    box-shadow: -3px 4px 2px 3px #172f42;
    background-color: #1f4870;
    a {
      display: block;
      padding: 8px;
    }
  }
  #dropContentDeep {
    margin-bottom: 0.5rem;
  }
  #dropdownDeep {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
  }
  #navItems {
    display: none;
    position: absolute;
    top: 0;
    right: -100px;
    height: 100vh;
    padding: 2rem 0;
    overflow: scroll;
    background-color: #265881;
    z-index: 1000;
    .fas {
      color: #fff;
      position: absolute;
      right: 2rem;
    }
    a:hover {
      text-decoration: none;
      color: $whiteColor;
    }
    .fa-times {
      top: 2rem;
      margin-bottom: 50px;
      font-size: 1.5rem;
    }
    .fa-chevron-down {
      vertical-align: middle;
      font-size: 1rem;
      margin-top: 4px;
    }
  }
} /*End Of Nav Styling*/

/********Start Of footer********/
#contactUs {
  padding-top: 4rem;
  background-color: #0d2735!important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  h5 {
    color: #8ecbff;
    font-size: 2rem;
    font-weight: 700;
  }
  p {
    @include paragraphText;
    text-align: left;
    color: $whiteColor;
    font-size: 0.9rem;
  }
  #contact {
    p {
      font-size: 0.9rem !important;
      margin-bottom: 2.5rem;
    }
    form div {
      width: 100%;
      background-color: $whiteColor;
      border-radius: 30px;
      border: 1px solid $whiteColor;
      padding: 4px;
      input,
      button {
        border: none;
        outline: none;
        padding: 5px;
        border-radius: 30px;
      }
      input {
        width: 70%;
      }
      ::placeholder {
        font-size: 0.8rem;
      }
      button {
        width: 30%;
        font-size: 1rem;
        color: $whiteColor;
        font-weight: 600;
        background-color: $navColor;
      }
    }
  }
  hr {
    height: 2px;
    background-color: #113244 !important;
  }
  #bottom-nav {
    h6 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 25px;
      margin-top: 30px;
      color: #8ecbff;
    }
    ul {
      padding: 0;
      list-style-type: none;
      li {
        margin-top: 5px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9rem;

        a {
          text-decoration: none;
          color: $whiteColor;
          display: inline-block;
          transition: all 0.5s linear;
        }
        i {
          margin-right: 5px;
          color: $whiteColor;
        }
        a:hover {
          transform: translateX(10px);
          color: #deb81e;
        }
      }
    }

    address {
      color: $whiteColor;
      font-size: 0.9rem;
    }
  }
  footer {
    padding: 5px 0;
    span {
      font-weight: 400;
      font-size: 0.8rem;
      color: $whiteColor;
    }
  }
}
/**********General Rules**********************/
.animation-element {
  opacity: 0;
  transform: translateY(100px);
}
.animation-element.in-view {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s linear;
}
.left-padding {
  padding-left: 3rem;
}
