@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Rubik&display=swap");
@import url("General.css");
@import url("responsive.css");
html {
  font-size: 16px;
}

body {
  background-color: #edf2f6;
}

/****General Rules*/
/*#0D2735*/
.mt-6 {
  margin-top: 3.8rem;
}

.mt-8 {
  margin-top: 5.5rem;
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.scrolled {
  background-color: rgba(13, 39, 53, 0.7) !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 141, 197, 0.7)), to(rgba(28, 45, 57, 0.11))), url("../../images/pexels-daniel-bendig-887845.png");
  background-image: linear-gradient(rgba(52, 141, 197, 0.7), rgba(28, 45, 57, 0.11)), url("../../images/pexels-daniel-bendig-887845.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*nav{
        z-index: 1000;
        position: fixed;
        display: flex;
        width: 100%;
        top:0;
        padding: 5px 0;
        button{
            background: none;
            outline: none;
            border: none;
        }
        a ,#dropContent a,button{
            display: block;
            color: $whiteColor;
            text-decoration: none;
            font-size: 1rem;   
            line-height: 1; 
            margin-top: 0.9rem;
            padding: 0.5rem 0.7rem;
            font-weight: 400;
        }    
        span i{margin-right: auto;}
        #btn{
            font-size: 1.5rem;
            color: $whiteColor;
            line-height: 1.5;
            margin-top: 0.4rem;
        }
        #logo{
            color: $whiteColor;
            font-family: 'Playfair Display', serif;
            align-self: flex-start;
            font-size: 2rem;
            line-height: 1;
            letter-spacing: 3px;
            font-weight: 500;
        }
        #dropContent,#dropContentDeep{
            display: none;
            padding:  8px 10px;
            border-radius: 8px;
            margin:0 8px;
            margin-top: 0.5rem;
            box-shadow: -3px 4px 2px 3px #172f42;
            background-color:#1f4870;
            a{display: block;padding: 8px;}
        }
        #dropContentDeep{margin-bottom: 0.5rem;}
        #dropdownDeep{
            background: transparent;
            border: none;
            outline: none;
            color: #fff;
        }
        #navItems{
            display: none;
            position: absolute;
            top: 0;
            right:-100px;
            height: 100vh;
            padding: 2rem 0;
            overflow: scroll;
            background-color: #265881;
            z-index: 1000;
            .fas{
                color: $whiteColor;
                position: absolute; 
                right: 2rem;                     
            }
            a:hover{text-decoration: none;color: $whiteColor;}
            .fa-times{top:2rem;margin-bottom: 50px;font-size: 1.5rem;}
            .fa-chevron-down{vertical-align: middle;font-size: 1rem;margin-top: 4px;}
        }
    }/*End Of Nav Styling*/
  /*Start Of Slide Styling*/
}

header .slide-cont {
  color: #fff;
  padding: 4rem 0;
}

header .slide-cont .carousel-item {
  padding: 4rem 0;
}

header .slide-cont .carousel-item h1 {
  font-size: 2rem;
  -webkit-animation: animate1 1s ease-in-out 0.25s;
          animation: animate1 1s ease-in-out 0.25s;
}

header .slide-cont .carousel-item p {
  width: 80%;
  margin: 2rem auto;
  font-weight: lighter;
  letter-spacing: 0.5px;
  -webkit-animation: animate2 0.75s ease-in-out 0.5s;
          animation: animate2 0.75s ease-in-out 0.5s;
}

header .slide-cont .carousel-item a {
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.5px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  padding: 0.3rem 2.1rem;
  border: 2px solid #63a4d9;
  border-radius: 25px;
  font-family: "Nanum Gothic", sans-serif;
  -webkit-animation: animate2 1s ease-in 0.5s;
          animation: animate2 1s ease-in 0.5s;
}

/*Start Of Services section */
#services {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 3rem 0;
  background-color: #fff;
}

#services article {
  padding: 1.5rem 1rem;
}

#services article aside {
  padding: 2rem;
  border-radius: 5px;
  -webkit-box-shadow: 1px 0px 6px 7px #fcfafa;
          box-shadow: 1px 0px 6px 7px #fcfafa;
}

#services article aside div:first-of-type {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: pink;
  text-align: center;
  margin: 10px auto;
}

#services article aside div:first-of-type i {
  font-size: 2.5rem;
  line-height: 1.8;
}

#services article aside h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
}

#services article aside p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #476986;
}

#services article:nth-of-type(1) aside:hover {
  border: 1px solid #ff689b;
}

#services article:nth-of-type(2) aside:hover {
  border: 1px solid #3fcdc7;
}

#services article:nth-of-type(3) aside:hover {
  border: 1px solid #41cf2e;
}

#services article:nth-of-type(4) aside:hover {
  border: 1px solid #1362a0;
}

#services article:nth-of-type(1) div:first-of-type {
  background: #fcd6e3;
}

#services article:nth-of-type(1) div:first-of-type i {
  color: #ff689b;
}

#services article:nth-of-type(2) div:first-of-type {
  background: #d0f4f2;
}

#services article:nth-of-type(2) div:first-of-type i {
  color: #3fcdc7;
}

#services article:nth-of-type(3) div:first-of-type {
  background: #cef4c8;
}

#services article:nth-of-type(3) div:first-of-type i {
  color: #41cf2e;
}

#services article:nth-of-type(4) div:first-of-type {
  background: rgba(178, 209, 232, 0.6);
}

#services article:nth-of-type(4) div:first-of-type i {
  color: #1362a0;
}

/*********************************/
/*Start Of About Section*/
#about {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 3rem 0;
  background-color: #fff;
}

#about p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #476986;
  text-align: left;
  line-height: 2;
}

#about h4 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: 700;
}

#about article:nth-of-type(1) > div {
  position: relative;
}

#about article:nth-of-type(1) > div div {
  position: absolute;
  left: 40%;
  top: 40%;
  background-color: rgba(99, 164, 217, 0.5);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

#about article:nth-of-type(1) > div div:hover {
  background-color: rgba(99, 164, 217, 0.9);
  cursor: pointer;
}

#about article:nth-of-type(1) > div div:hover i {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#about article:nth-of-type(1) > div i {
  color: #fff;
  font-size: 2.5rem;
  line-height: 2.2;
  padding-left: 10px;
}

#about aside {
  color: #63a4d9;
  background-color: #edf2f6;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  margin-right: 25px;
}

#about aside i {
  font-size: 2.1rem;
  line-height: 2.1;
}

#about aside:hover {
  background-color: #63a4d9;
  color: #edf2f6;
}

#about article:nth-of-type(2) div:nth-of-type(1) {
  margin-bottom: 3rem;
}

/*End Of About*/
/*Start Of Features*/
#features {
  background-color: #fff;
}

#features header {
  background: none;
  padding-top: 4rem;
}

#features header h2 {
  font-size: 3rem;
  font-weight: 400;
}

#features header #out {
  margin-right: auto;
  margin-left: auto;
  line-height: 1;
  width: 40%;
  height: 2px;
  background-color: #edf2f6;
  padding-bottom: 4px;
}

#features header #in {
  margin: inherit;
  background-color: #63a4d9;
  height: 4px;
  width: 70px;
}

#features header p {
  text-align: center !important;
}

#features h5 {
  color: #4b6481;
  font-size: 1.4rem;
}

#features p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #476986;
  text-align: left;
  margin-top: 1.8rem;
}

#features article div:first-of-type {
  margin-bottom: 15px;
}

#features .row article:first-of-type p:last-of-type,
#features span {
  font-size: 1rem !important;
  color: #4c6275;
  font-weight: normal;
}

#features .row article:last-of-type {
  margin-top: 25px;
}

#features i.fas {
  margin-right: 6px;
  color: #4bacb2;
  font-size: 1.3rem;
}

#features .check {
  margin-bottom: 15px;
}

#features .check:first-of-type {
  margin-top: 25px;
}

/*End Of Features************/
/********Start Of footer********/
/*#contactUs{
    padding-top: 4rem;
    background-color: #0D2735;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    margin-top: 8rem;
    h5{
        color: #8ecbff;
        font-size: 2rem;
        font-weight: 700;
    }
    p{
        @include paragraphText;
        text-align:left; 
        color:$whiteColor;font-size: 0.9rem; 
    }
    #contact{
      p{font-size: 0.9rem!important;margin-bottom: 2.5rem;}
      form div{
          width: 100%;
          background-color: $whiteColor;
          border-radius: 30px;
          border:1px solid $whiteColor;
          padding: 4px;
          input,button{
              border:none;
              outline:none;
              padding: 5px;
              border-radius: 30px;
          }
          input{
              width: 70%;
          }
          ::placeholder{font-size: 0.8rem;}
          button{
              width: 30%;
              font-size: 1rem;
              color: $whiteColor;
              font-weight: 600;
              background-color: $navColor;              
          }
      }
    }
    hr{height: 2px;background-color: #113244 !important;}
    #bottom-nav{
        h6{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 25px;
        margin-top: 30px;
        color: #8ecbff;
        }
        ul{
            padding: 0;
            list-style-type: none;
        li{
            margin-top: 5px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 0.9rem;
            
            a{
                text-decoration: none;
                color: $whiteColor;
                display: inline-block;
                transition: all 0.5s linear;
            }      
            i{margin-right: 5px;color: $whiteColor;}
            a:hover {
                transform: translateX(10px);
                color: #deb81e;
            } 
        }

       
    }
    
    address{color:$whiteColor;font-size: 0.9rem;}
    }
    footer{
        padding: 5px 0;
        span{
            font-weight: 400;
            font-size: 0.8rem;
            color: $whiteColor;
        }
    }
}
    */
/********************************/
/*.animation-element{
    opacity: 0;
    transform:translateY(100px)
}
.animation-element.in-view{
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s linear;
}
.left-padding{padding-left: 3rem;}

*/
/***********************************/
/*# sourceMappingURL=style.css.map */